@model IEnumerable<DefCan.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<table cellpadding="2" cellspacing="2" border="1">
    <tr>
        <th> Name </th>
        <th> Cost </th>
        <th> Category </th>
        <th> Item Picture </th>
        <th> ASL Representation</th>
        
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td> @item.Name </td>
            <td> @item.Cost </td>
            <td> @item.Category </td>
            <td> 
                <img src="~/Images/@Html.DisplayFor(modelItem => item.PicUrl)" style="height:50px;width:50px;" />

            @*@item.PicUrl*@ </td>
            <td> <img src="~/Images/@Html.DisplayFor(modelItem => item.AslPicUrl)" style="height:50px;width:50px;" /> </td>
            <td align="center">@Html.ActionLink("Order","Order",  new { id = item.ItemID}, null) </td>
        </tr>
    }
</table>
